.map-container .leaflet-container {
  height: 450px;
  width: 35%;
}

.map-container {
  width: 100%;
  height: 100%;
 }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #333;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  z-index: 1000;
  
  max-width: 80%;  
  
  text-align: center; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}

/* For images in LogEntry.js  */
.image-response-row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.image-response-row img {
  height: 150px; 
  object-fit: cover;
  flex: 1;
  margin: 0 40px;
}

.image-response-div {
  margin: 0px 20px 0px 20px; 
}

.image-response-p { 
  display: flex; 
  justify-content: center;
}
 
/* Travelog cards on Home.js for most recent */
.recent-travelogs {
  display: flex;
  justify-content: space-between;
  /* height: 20vh;   */
  /* 25% of the viewport height */
  margin-bottom: 4em;  /* Optional: Adds some spacing below the row of cards */
}

/* .travelog-card {
  flex: 1;
  margin: 0 1em;  
  text-align: center;
  max-width: 20%;  
}

.travelog-image {
  width: 100%;  
  height: auto;   
} */

.travelog-title {
  text-align: center; 
} 

/* Travelog cards on Home.js for full list  */
.all-travelogs-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;   
  /* justify-content: flex-start;   */
} 

.travelog-card {
  flex: 0 1 calc(100% / 8 - 1em); 
  margin: 0 0.3em 1em 0.3em;  
  /* flex: 1;
  margin: 0 1em; */
  max-width: calc(25% - 1em);
  text-align: center;
  overflow: hidden;  
  border: 1px solid #ddd;  /* Optional: for better visibility of card boundaries */
}

/* .travelog-card {
   
  text-align: center;
  border: 1px solid #ddd;  
} */

.hub-mini-card {
display: flex
}

.travelog-image-container {
  width: 100%;
  height: 100px;   
  background-color: #f0f0f0;  /* Optional: for better visibility of image container boundaries */
  display: flex;
  align-items: center;
  justify-content: center;
}

.travelog-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;  /* this will cover the area of the div without stretching the image */
}

/* User Hub Travelogs:  */
.hub-mini-card {
  display: flex;
  width: 90%;
  height: 10vh;  
  margin-bottom: .4rem; 
  background-color: rgb(227, 227, 227);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(182, 182, 182);
  /* border-color: rgb(131, 131, 131); */
}

.hub-mini-img-div {
  /* flex: 1; */
  width: 10%;
  height: 100%;
  overflow: hidden; 
  display: flex;
  justify-content: space-around;
}

.hub-mini-img {
  display: block;
  max-width: 100%;  
  max-height: 100%; 
  object-fit: cover; 
  width: auto;
  height: auto;
}
 
  /* justify-content: space-around;   */
  
.hub-mini-card-text {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;  /* This will ensure the text spans the full width of its container */
}

.hub-mini-card-text > h3, p {
  width: 20%;
}

.hub-avatar {
  /* height: 10%;
  width: 10%;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */
  display: flex;
  height: 200px;
  width: 200px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  justify-content: center;
}

.hub-avatar > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.user-avatar {
  display: flex;
  height: 200px;
  width: 200px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  justify-content: center;
}

.user-avatar > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.hub-bio {
  width: 40%;
  overflow-wrap: break-word;
}

.hub-bio > p {
  width: 100%;
}

.leaflet-popup-content {
  /* width: 2000px; */
}

.custom-popup > a { 
  background-color: rgb(241, 241, 241); 
  border-radius: 5px;
  padding: 3px;
  border: 1px solid rgb(222, 222, 222); 
  z-index: 1;
}

/* LogEntry.js  */
.largeEditor {
  width: 50%;
  height: 400px;
}

/* Comments:  */
/* src/styles/CommentCard.css */
.comment-card {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}

.comment-header,
.comment-body,
.comment-footer {
  margin-bottom: 0.5em;
}

/* Comments  */
.comment-list {
  list-style-type: none;
  padding-left: 0;
}

/* Messages  */
.message-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.message-thread {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
}

.message-input {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
}

.message-input input {
  flex: 1;
  padding: 5px;
}

.message-input button {
  margin-left: 10px;
} 
